streamlit==1.30.0
pandas==1.5.3
torch==2.1.1
streamlit-option-menu==0.3.6
numpy==1.26.4
plotly==5.18.0
torchvision==0.16.1
pillow==10.4.0
googletrans==4.0.0rc1
tensorflow==2.15.0
keras==3.10.0
matplotlib==3.8.4
scikit-learn==1.2.2
setuptools
